[submodule "Starsky"]
	path = Starsky
	url = https://github.com/hevizi73/Starsky.git
	branch = LearnSorcery
[submodule "Hutch"]
	path = Hutch
	url = https://github.com/hevizi73/Hutch.git
	branch = Protests
